.task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    color: var(--gray-100);
    background: var(--gray-400);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
}
.task p{
    margin-right: auto;
    line-height: 1.3rem;
}

.task p.textCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
}

.task+.task {
    margin-top: 1rem;
}

.checkContainer {
    min-width: 1.25rem;
    height: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
}

.checkContainer div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
}

.checkContainer svg {
    width: 100%;
    height: 100%;
    color: var(--purple);
}

.deleteButton {
    min-width: 1.25rem;
    height: 1.25rem;
    background: none;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
}

.deleteButton svg {
    width: 100%;
    height: 100%;
}